/* Base styles
========================================================================== */
html {
	font-size: $base-font-size;
	line-height: 1.6;
}
body {
	background: #fff;
	color: #444;
	font-family: $body-font;
	margin: 0;
	padding: 0;
}

/* Layout
========================================================================== */
.container {
	max-width: $break-large;
	margin-right: auto;
	margin-left: auto;
	padding-left: 3em;
	padding-right: 3em;
}




