.breadcrumbs-wrapper {
	display: none;
	// border-bottom: 1px solid #eee;
	padding: 10px 0;
	@media (min-width: $break-medium) {
		display: block;
	}
}
.breadcrumbs {
	color: #555;
	font-size: 14px;
	margin: 0;
	text-align: center;
	& a {
		color: #555;
		text-decoration: none;
	}
	@media (min-width: $break-medium) {
		text-align: left;
	}
	.history-icon {
		padding: 0 5px;
	}
}