.breadcrumbs-wrapper {
	margin-top: 1em;
}
.breadcrumbs {
	color: #555;
	font-size: 12px;
	margin: 0;
	text-align: center;
	& a {
		color: #555;
		text-decoration: none;
	}
	@media (min-width: $break-medium) {
		text-align: left;
	}
}