.breadcrumbs-wrapper,
.breadcrumbsFrame {
	margin: 0 !important;
	display: none;
	border-bottom: 1px solid #e9e9ea;
	padding: .5em 1em;
	color: #555;
	font-size: 13px;
	@media (min-width: $break-medium) {
		display: block;
	}
}
.breadcrumbs {
	color: #555;
	font-size: 13px;
	margin: 0;
	text-align: center;
	& a {
		color: #555;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	@media (min-width: $break-medium) {
		text-align: left;
	}
	.history-icon {
		padding: 0 5px;
	}
}