
/* -----------------------------------------------------------------
Catalog/Browse page featured
----------------------------------------------------------------- */

.catalog-featured a {
	display: block;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.featured-item-list .catalog-featured {
	padding-bottom: 1em;
	@media (min-width: $break-large) {
		padding-left: 1em;
		padding-right: 1em;
	}
}
.featured-item-list .featured-title {
	font-family: $heading-font;
	border-top: 1px solid #ddd;
	font-size: 15px;
	display: block;
	margin: 0;
	padding: 1.5em 0;
	text-align: center;
	text-transform: uppercase;
	@media (min-width: $break-medium) {
		font-size: 24px;
	}
}
.browse-page .featured-item-list .featured-title {
	border-top: none;
}
.catalog-featured a:hover .thumbnail-title,
.catalog-featured a:focus .thumbnail-title {
	text-decoration: underline;
}
/* featured */
.catalog-featured {
	list-style: none;
	margin: 0;
}
.catalog-featured .gallery-cell {
	width: 65%;
	padding: 0 7px;
	@media (min-width: $break-small) {
		width: 40%;
	}
	@media (min-width: 700px) {
		width: 28%;
	}
	@media (min-width: $break-large) {
		width: 20%;
	}
}

/* -----------------------------------------------------------------
Suggested items
----------------------------------------------------------------- */
.suggested-wrapper {
	border-top: 1px solid #ddd;
	clear: both;
	margin-top: 2em;
	padding: 2em 0;
}
/* sequoia */
.itemSuggestedFrame,
.itemCorrelatedFrame {
	margin: 2em 0 0;
	padding: 2em 0;
	clear: both;
}
.itemSuggestedFrame .listSubheading,
.itemCorrelatedFrame .listSubheading {
	border-bottom: none;
	border-top: 1px solid #ddd;
}
.suggested-gallery {
	list-style: none;
	margin: 0;
	@media (min-width: $break-large) {
		padding: 0 1em;
	}
}
.suggested-gallery a {
	display: block;
	&:hover, &:focus {
		text-decoration: none;
	}
}
.suggested-title,
.itemSuggestedSubheading h2,
.itemCorrelatedSubheading h2 {
	color: #222;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding-top: 1em;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 2em 0;
	@media (min-width: $break-medium) {
		font-size: 24px;
	}
}
.suggested-gallery a:hover .thumbnail-title,
.suggested-gallery a:focus .thumbnail-title {
	text-decoration: underline;
}
.suggested-wrapper .suggested-img img {
	display: block;
	margin: 0 auto;
}
.suggested-wrapper .suggested-link {
	display: block;
}

/* featured */
.suggested-gallery {
	list-style: none;
	margin: 0;
}
.suggested-gallery .gallery-cell {
	width: 65%;
	padding: 0 5px;
	@media (min-width: $break-small) {
		width: 40%;
	}
	@media (min-width: 700px) {
		width: 25%;
	}
}
/* sequoia fixs */
.catalogImageFrame {
	height: auto;
	margin-bottom: 5px;
}
.catalogItemTitle {
	font-size: 13px;
	font-weight: normal;
}
.featuredFrame .itemPriceMain {
	color: #333;
	font-size: 13px;
	font-weight: bold;
}
.featuredFrame .itemPriceSuffix {
	font-size: 13px;
}



/* added to cart suggested items */
.cartAddPage table {
	width:100%;
	table-layout: fixed;
}
.no-js .browse-featured li {
	float: left;
	width: 20%;
}