#header {
	position: relative;
	z-index: 40;
}
#header.stuck {
		position:fixed;
		top:0;
		z-index: 100;
		width: 100%;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.header-top-bg {
	/*background: url(../images/header_top.png) repeat-x left bottom;*/
	background-color: #222;
	border-bottom: 1px solid #333;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	position: relative;
	z-index: 40;
	display: none;
	@media (min-width: $break-medium) {
		display: block;
	}
}
.header-top {
	margin: 0 auto;
	position: relative;
}
.top-para {
	color: #ddd;
	display: block;
	float: left;
	font-size: 10px;
	line-height: 25px;
	margin: 0;
	& a {
		color: #ddd;
		text-decoration: underline;
	}
}
.top-nav-wrapper {
	float: right;
}
.top-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	@media (min-width: $break-medium) {
		display: block;
		float: left;
		margin-right: 5px;
	}
}
.top-nav li {
	float: left;
}
.top-nav li a {
	padding: 2px 5px 0;
}
.top-nav li a, .checkout-link, .my-cart {
	color: #ddd;
	display: block;
	font-size: 10px;
	line-height: 23px;
	text-transform: uppercase;
	-webkit-transition: border-color .1s linear;
	-moz-transition: border-color .1s linear;
	-o-transition: border-color .1s linear;
	transition: border-color .1s linear;
	@media (min-width: $break-medium) {
		border-bottom: 2px solid #222;
	}
}

/* -----------------------------------------------------------------
My Cart
----------------------------------------------------------------- */
.cart-checkout {
	float: left;
}
.cart, .checkout-link {
	float: left;
}
.cart {
	position: relative;
}
.checkout-link {
	padding: 2px 5px 0 10px;
}
.my-cart {
	padding: 2px 8px 0 5px;
	position: relative;
}

/* hover */
.top-nav a:hover, .top-nav a:focus, .my-cart:hover, .my-cart:focus {
	border-bottom-color: #fdd700;
	color: #fff;
	text-decoration: none;
}
.my-cart:hover .caret, .open .my-cart .caret {
	border-top-color: #fff;
}


/* -----------------------------------------------------------------

----------------------------------------------------------------- */
.header-mid-bg .container {
	@media (max-width: $break-medium - 1) {
		padding-left: 0;
		padding-right: 0;
	}
}
.header-mid-bg {
	background-color: #000;
}
.header-mid {
	height: 60px;
	position: relative;
	text-align: center;
}
.logo {
	background: url(../images/iowahawkshop.png) no-repeat left top;
	background-size: 195px 26px;
	display: inline-block;
	width: 195px;
	height: 26px;
	margin-left: 40px;
	margin-top: 18px;
	vertical-align: middle;
}
.logo img {
	display: block;
	margin: 0 auto;
}

/* -----------------------------------------------------------------------
Search
----------------------------------------------------------------------- */
.searchwrapper {
	position: absolute;
	right: 1em;
	top: 50%;
	margin-top: -13px;
}
.searchtextbox {
	position: relative;
}
.searchwrapper input {
	-webkit-appearance: textfield;
	background: #fff;
	color: #222;
	border: none;
	display: inline-block;
	font-size: 13px;
	font-family: arial, verdana, sans-serif;
	height: auto;
	line-height: normal;
	padding: 5px 30px 5px 10px;
	position: relative;
	vertical-align: middle;
	width: 140px;
	margin-bottom: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	outline: none;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
}
.search-btn {
	border: none;
	background: url(../images/btn-magnifying-glass.gif) no-repeat center center;
	text-indent: -9999em;
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
	top: 5px;
}

/* -----------------------------------------------------------------
Search Toggle
----------------------------------------------------------------- */
.search-toggle {
	border-left: 1px solid #333;
	display: block;
	float: right;
	height: 60px;
	text-decoration: none;
	width: 40px;
}
.search-toggle:hover {
	background-color: #222;
	text-decoration: none;
}
.icon-search {
	color: #eee;
	font-size: 18px;
	display: block;
	margin: 0 auto;
	padding-top: 21px;
}
/* -----------------------------------------------------------------
Shopping Cart
----------------------------------------------------------------- */
.cart {
	xborder-left: 1px solid #333;
	display: block;
	float: right;
	height: 60px;
	text-decoration: none;
	width: 40px;
	position: relative;
}
.cart:hover {
	background-color: #333;
	text-decoration: none;
}
.icon-shopping-cart {
	color: #eee;
	font-size: 19px;
	display: block;
	margin: 0 auto;
	padding-top: 21px;
}
.count {
	position: absolute;
	top: 9px;
	right: 13px;
	font-size: 9px;
	background-color: $yellow;
	color: #000;
	border-radius: 50%;
	height: 13px;
	width: 13px;
	display: block;
	text-align: center;
	line-height: 13px;
}


