#header {
	xposition: relative;
	z-index: 40;
}
.cd-main-header {
	min-height: 50px;
}
#header.stuck {
	position:fixed;
	top:0;
	z-index: 100;
	width: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.top-para {
	color: #ddd;
	display: none;
	float: left;
	font-size: 10px;
	line-height: 25px;
	margin: 0;
	& a {
		color: #ddd;
		text-decoration: underline;
	}
	@media (min-width: $break-medium) {
		display: block;
	}
}
.top-nav-wrapper {
	float: right;
}
.top-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	@media (min-width: $break-medium) {
		display: block;
		float: left;
		margin-right: 5px;
	}
}
.top-nav li {
	float: left;
}
.top-nav li a {
	padding: 2px 5px 0;
}
.top-nav li a, .checkout-link, .my-cart {
	color: #ddd;
	display: block;
	font-size: 10px;
	line-height: 23px;
	text-transform: uppercase;
	-webkit-transition: border-color .1s linear;
	-moz-transition: border-color .1s linear;
	-o-transition: border-color .1s linear;
	transition: border-color .1s linear;
	@media (min-width: $break-medium) {
		border-bottom: 2px solid #222;
	}
}


/* -----------------------------------------------------------------
Logo
----------------------------------------------------------------- */
.logo-container {
	text-align: left;
	@media(min-width: $break-medium) {
		text-align: center;
	}
}
.logo {
	display: inline-block;
	margin: 10px 0 5px;
	vertical-align: middle;
	& img {
		display: block;
		margin: 0 auto;
	}
}

/* -----------------------------------------------------------------------
Search
----------------------------------------------------------------------- */
.searchwrapper {
	position: absolute;
	right: 1em;
	top: 24px;
}
.searchtextbox {
	position: relative;
}
.searchwrapper input {
	-webkit-appearance: textfield;
	background: #fff;
	color: #222;
	border: none;
	display: inline-block;
	font-size: 13px;
	font-family: arial, verdana, sans-serif;
	height: auto;
	line-height: normal;
	padding: 5px 30px 5px 10px;
	position: relative;
	vertical-align: middle;
	width: 180px;
	margin-bottom: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	outline: none;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
}
.search-btn {
	border: none;
	background: url(../images/icon-search.png) no-repeat center center;
	text-indent: -9999em;
	position: absolute;
	right: 5px;
	width: 20px;
	height: 20px;
	top: 5px;
}

/* -----------------------------------------------------------------
Search Toggle
----------------------------------------------------------------- */
.search-toggle {
	border-left: 1px solid #333;
	display: block;
	float: right;
	height: 60px;
	text-decoration: none;
	width: 40px;
}
.search-toggle:hover {
	background-color: #222;
	text-decoration: none;
}
.icon-search {
	color: #eee;
	font-size: 18px;
	display: block;
	margin: 0 auto;
	padding-top: 21px;
}

/* -----------------------------------------------------------------
Shopping Cart
----------------------------------------------------------------- */
.nix-fixed-header {
	background: #111;
	border-bottom: 1px solid #3f3f43;
	width: 100%;
	white-space: nowrap;
	font-size: 11px;
	line-height: 30px;
	/*text-transform: uppercase;*/
	letter-spacing: .5px;
	z-index: 1500;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0s ease-in;
	transition: all 0s ease-in;
	height: 31px;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.pull-right {
    float: right !important;
}
.nix-cart {
	height: 30px;
}
#fixed-header-cart {
	position: relative;
}
.nix-cart .nix-cart-toggler {
	height: 30px;
	display: inline-block;
	width: 100%;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	background: transparent url('../images/sprites.svg') no-repeat 20px -133px;
	padding: 0 20px 0 46px;
	border-left: 1px solid #3f3f43;
	text-decoration: none;
}
.nix-cart .nix-cart-toggler:hover {
	background: #222 url('../images/sprites.svg') no-repeat 20px -163px;
	border-left: 1px solid #4f4f52;
}
.nix-fixed-header span {
	color: #f7f8f9;
	margin: auto 5px;
	font-size: 11px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.nix-fixed-header .square {
	background: $yellow;
	width: auto;
	min-width: 20px;
	height: 20px;
	border: 0;
	padding: 0 4px;
	line-height: 20px;
	color: #000;
	text-align: center;
	font-size: 12px;
	vertical-align: baseline;
	margin-top: 5px;
	border-radius: 1px;
	position: relative;
}
.nix-fixed-header .square:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    left: -10px;
    top: 4px;
    border: 5px solid #111;
    border-right-color: $yellow;
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
}
.nix-fixed-header .nix-cart .caret {
	margin-left: 12px;
	font-weight: normal !important;
}
.login {
	float: left;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	padding: 0 20px;
	-webkit-transition: background .25s ease-in-out;
	transition: background .25s ease-in-out;
	-webkit-transition: border .25s ease-in-out;
	transition: border .25s ease-in-out;
	border-right: 1px solid #3f3f43;
	color: #f7f8f9;
	text-decoration: none;
	&:hover {
		background: #222;
		border-right: 1px solid #4f4f52;
		text-decoration: none;
	}
}
.header-phone, .header-location {
	float: left;
	line-height: 30px;
	display: inline-block;
	padding: 0 20px;
	border-right: 1px solid #3f3f43;
	color: #f7f8f9;
	text-align: center;
}
/* search */
.searchcontainer {
	background-color: #222;
	float: right;
	border-left: 1px solid #444;
	position: relative;
}
.searchcontainer input {
	border: none;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	background-color: transparent;
	outline: none;
	color: #ddd;
	width: 160px;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
	&:focus {
		background-color: #262626;
		width: 210px;
	}
}
