.home-page, .home-page #main-content {
	background-color: #fff;
}

/* -----------------------------------------------------------------
Flickity
----------------------------------------------------------------- */
.home-gallery .gallery-cell {
	width: 90%;
	// margin-right: 10px;
	position: relative;
	@media (min-width: $break-small) {
		width: 80%;
	}
	@media (min-width: $break-xxlarge) {
		width: 75%;
	}
	@media (min-width: 1300px) {
		width: 70%;
	}
	@media (min-width: 1400px) {
		width: 65%;
	}
	& img {
		width: 100%;
	}
}
.home-gallery .flickity-page-dots {
	@media (min-width: $break-medium) {
		display: none;
	}
}
.home-gallery .flickity-prev-next-button {
	display: none;
	@media (min-width: $break-medium) {
		display: block;
	}
}

/* -----------------------------------------------------------------
Promotional banner images
----------------------------------------------------------------- */
.home-promo {
	display: block;
	margin: 0 auto;
	@media (max-width: $break-medium - 1 ) {
		margin-bottom: 1em;
	}
}

/* -----------------------------------------------------------------
Homepage featured items
----------------------------------------------------------------- */
.home-featured-title {
	margin: 2em 0 0;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
}
.home-featured-text {
	margin: .5em 0 2em;
	text-align: center;
	font-size: 14px;
}
.home-featured {
	list-style: none;
	margin: 0;
}
.home-featured .gallery-cell {
	width: 65%;
	padding: 0 5px;
	@media (min-width: $break-small) {
		width: 40%;
	}
	@media (min-width: 700px) {
		width: 28%;
	}
	@media (min-width: $break-large) {
		width: 20%;
	}
}
.home-featured .flickity-prev-next-button {
	display: none;
	visibility: hidden;
	@media (min-width: $break-medium) {
		display: block;
		visibility: visible;
	}
}
