.home-page, .home-page #main-content {
	background-color: #fff;
}

/* Flickity */
.home-gallery .gallery-cell {
	width: 90%;
	// margin-right: 10px;
	position: relative;
	@media (min-width: $break-small) {
		width: 80%;
	}
	@media (min-width: $break-xxlarge) {
		width: 75%;
	}
	@media (min-width: 1300px) {
		width: 70%;
	}
	@media (min-width: 1400px) {
		width: 60%;
	}
	& img {
		width: 100%;
	}
	&:after {
		content:'';
		background-color: rgba(0,0,0,0);
		transition: background-color .5s ease;
	}
	&:not(.is-selected):after {
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.6);
		transition: background-color .5s ease;
		top: 0;
		left: 0;
	}
}
.home-gallery .flickity-page-dots {
	@media (min-width: $break-medium) {
		display: none;
	}
}
.home-gallery .flickity-prev-next-button {
	display: none;
	@media (min-width: $break-medium) {
		display: block;
	}
}

/* featured */
.home-featured {
	list-style: none;
	margin: 0;
}
.home-featured .gallery-cell {
	width: 65%;
	padding: 0 5px;
	@media (min-width: $break-small) {
		width: 40%;
	}
	@media (min-width: 700px) {
		width: 28%;
	}
	@media (min-width: $break-large) {
		width: 20%;
	}
}
.home-featured .flickity-prev-next-button {
	display: none;
	visibility: hidden;
	@media (min-width: $break-medium) {
		display: block;
		visibility: visible;
	}
}
