/* mega menu list */
#dawgdrops {
	background-color: #fff;
	border-top: 2px solid $yellow;
	display: none;
	@media (min-width: $break-medium) {
		display: block;
	}
}
#dawgdrops.stuck {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}
.nav-menu {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: table;
	position: relative;
	z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
	list-style: none;
	display: table-cell;
	padding: 0;
	margin: 0;
	// position: relative;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
	color: #111;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	display: block;
	font-size: 13px;
	padding: 9px 15px;
	text-decoration: none;
	transition: none;
	text-transform: uppercase;
	white-space: nowrap;
	@media (min-width: 900px) {
		font-size: 14px;
		padding: 9px 19px;
	}
	@media (min-width: 1024px) {
		padding: 9px 25px;
	}
	@media (min-width: $break-xlarge) {
		padding: 9px 27px;
	}
	@media (min-width: $break-xxlarge) {
		padding: 9px 30px;
	}
}

/* focus/open states of first descendant link within a top level
	 navigation item */
.nav-item > a:hover,
.nav-item > a:focus,
.nav-item > a.open {
	background-color: #fff;
	color: #333;
	position: relative;
	&:after {
		content: '';
		background-color: #000;
		border-top-left-radius: 1px;
		border-top-right-radius: 1px;
		width: 100%;
		height: 4px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

/* open state of first descendant link within a top level
	 navigation item */
.nav-item > a.open {
	background-color: #fff;
	color: #333;
	z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
	border-top: 1px solid #ddd;
	background-color: #fff;
	position: absolute;
	display: none;
	top: 100%;
	min-width: 180px;
	list-style: none;
	box-shadow: 0 3px 4px rgba(0,0,0,0.4);
	padding: 10px 0;
	border-radius: 1px;
}
/* transparent background padding */
.sub-nav:after {
	content: '';
	background-color: transparent;
	position: absolute;
	width: 102%;
	height: 104%;
	top: 0;
	left: -1%;
	z-index: -1;
}

/* sub-navigation panel open state */
.sub-nav.open {
	display: block;
}
.no-js .nav-item:hover .sub-nav {
	display: block;
}
/* last nav item right align */
.nav-item:last-of-type .sub-nav.open {
	right: 0;
}
.nav-item:nth-last-child(2) .sub-nav.open {
	@media (max-width: $break-large - 1) {
		right: 0;
	}
}

/* sub-navigation with groups */
.sub-nav.groups .sub-nav-group {
	border-right: 1px solid #e5e5e5;
	min-height: 300px;
	float: left;
	position: relative;
	&:last-child {
		border-right: none;
	}
}
.sub-nav.group-2 {
	width: 40%;
	& .sub-nav-group {
		width: 50%;
	}
}
.sub-nav.group-3 {
	width: 540px;
	& .sub-nav-group {
		width: 33.3%;
	}
}
.sub-nav.group-4 {
	width: 100%;
	left: 0;
	// width: 720px;
	& .sub-nav-group {
		width: 25%;
	}
}
.sub-nav.group-5 {
	width: 100%;
	left: 0;
	// width: 720px;
	& .sub-nav-group {
		width: 20%;
	}
}


/* list of items within sub-navigation panel */
.sub-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* list item within sub-navigation panel */
.sub-nav li {
	padding: 0 10px;
}
.sub-nav li a {
	color: #333;
	float: none;
	display: block;
	font-size: 13px;
	line-height: 1.3;
	padding: 8px 10px;
	text-align: left;
	text-transform: none;
	transition: none;
	&:hover, &:focus {
		background: #000;
		border-radius: 3px;
		color: #fff;
		text-decoration: none;
	}
}

/* Dividers */
.sub-nav li.divider {
	border-top: 1px solid #ddd;
	margin: 6px 0;
}
/* Headings */
.sub-nav .sub-nav-heading {
	display: block;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	font-family: $body-font;
	text-transform: uppercase;
	padding: 8px 10px;
	& a {
		font-size: 12px;
		padding: 0;
		text-transform: uppercase;
		&:hover, &:focus {
			color: #333;
			background: #fff;
		}
	}
}

/* Arrow Icon */
.sub-nav .icon-chevron-right {
	float: right;
}


/* Featured Product */
.sub-nav .featured .inner {
	padding: 10px 10px 0;
	text-align: center;
}
.sub-nav .featured .sub-nav-img {
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -30%;
	width: 70%;
}
.sub-nav .featured .title {
	font-size: 18px;
	line-height: 1.3;
	margin: 0 0 5px 0;
}
.sub-nav .featured p {
	font-size: 13px;
	margin: 0;
}
.sub-nav .featured a {
	&:hover, &:focus {
		background: inherit;
	}
}
.sub-nav .featured .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover {
    color: #333333;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
.sub-nav .featured .btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  &:hover, &:focus, &:active {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
  }
}
.sub-nav .featured .btn-sm,
.sub-nav .featured .btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.sub-nav .featured .btn-xs {
  padding: 1px 5px;
}
.sub-nav .featured .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}







