@import 'bourbon/bourbon'; // http://bourbon.io/

/* -----------------------------------------------------------------
Variables
----------------------------------------------------------------- */

// z-index
$secondary-nav: 1;
$content-zindex: 2;

// header height
$header-S: 50px;
$header-M: 70px;

/* -----------------------------------------------------------------
Mixins
----------------------------------------------------------------- */
// rem fallback - credits: http://zerosixthree.se/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
  @if $xy == xy {
	 left: 50%;
	 top: 50%;
	 bottom: auto;
	 right: auto;
	 @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
	 left: 50%;
	 right: auto;
	 @include transform(translateX(-50%));
  }
  @else if $xy == y {
	 top: 50%;
	 bottom: auto;
	 @include transform(translateY(-50%));
  }
}

/* -----------------------------------------------------------------
Layout
----------------------------------------------------------------- */
// breakpoints
$S:     320px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
	@media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
	@media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
	@media only screen and (min-width: $L) { @content; }
  }
}

/* -----------------------------------------------------------------
Modules - reusable parts of our design
----------------------------------------------------------------- */
.overflow-hidden {
	overflow: hidden;
}

/* -----------------------------------------------------------------
Main Content
----------------------------------------------------------------- */
.cd-main-content {

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	@include transition-property(transform);
	@include transition-duration(.4s);

	&.lateral-menu-is-open {
		/* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
		@include transform(translateX(-260px));
		@media (min-width: $break-medium) {
			@include transform(translateX(0));
		}
	}


}

/* -----------------------------------------------------------------
Trigger
----------------------------------------------------------------- */
#cd-menu-trigger {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background-color: #222;

	&.is-clicked {
		.cd-menu-icon {
			background-color: rgba(#FFF, 0);
			&::before, &::after {
				background-color: rgba(#FFF, 1);
			}
			&::before {
				bottom: 0;
				@include transform(rotate(45deg));
			}
			&::after {
				top: 0;
				@include transform(rotate(-45deg));
			}
		}
	}

	@media only screen and (min-width: $break-small) {
		width: 110px;
		padding-left: 1.25em;
	}
}

/* Menu text */
#cd-menu-trigger .cd-menu-text {
	height: 100%;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	display: none;
	@media only screen and (min-width: $break-small) {
		display: inline-block;
		line-height: $header-M;
	}
}

/* Menu hamburger icon */
#cd-menu-trigger .cd-menu-icon {
	/* this span is the central line in the menu menu */
	display: inline-block;
	position: absolute;
	@include center; // mixin inside partials > _mixings.scss
	width: 18px;
	height: 2px;
	background-color: #FFF;

	/* these are the upper and lower lines in the menu menu */
	&::before, &:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}
	&::before {
		bottom: 5px;
	}
	&::after {
		top: 5px;
	}
	@media only screen and (min-width: $break-small) {
		left: auto;
		right: 1.25em;
		@include transform(translateX(0));
	}
}

#cd-menu-trigger {
	@media (min-width: $break-medium) {
		display: none;
	}
}

/* -----------------------------------------------------------------
Nav
----------------------------------------------------------------- */
#cd-lateral-nav {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	visibility: hidden;
	padding-top: $header-S;
	border-left: 1px solid #ddd;
	box-shadow: inset 4px 0 12px 0px rgba(0,0,0,1);

	/* the secondary navigation is covered by the main element */
	z-index: $secondary-nav; // see partials > _variables.scss

	width: 260px;
	background-color: #222;

	overflow-y: auto;

	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;

	/* this creates the subtle slide in animation of the navigation */
	@include transform(translateX(80px));

	&.lateral-menu-is-open {
		@include transform(translateX(0));
		visibility: visible;
		-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
		-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
		transition: transform .4s 0s, visibility 0s 0s;

		/* smooth the scrolling on touch devices - webkit browsers */
		-webkit-overflow-scrolling: touch;
	}
	@media (min-width: $break-small) {
		padding-top: $header-M;
	}

}
#cd-lateral-nav .cd-navigation {
	margin: 0;
	list-style: none;
}

#cd-lateral-nav .cd-navigation a {
	border-bottom: 1px solid rgba(255,255,255,.1);
	display: block;
	line-height: 3.5em;
	padding: 0 20px;
	color: #fff;
	font-size: 13px;
	transition: .2s ease-in-out;
	.no-touch &:hover {
		color: #fff;
		text-decoration: none;
	}
}
/* 2nd level menus */
#cd-lateral-nav .cd-navigation .sub-menu {
	margin: 0;
	list-style: none;
	padding: 0 15px;
	display: none;
	background-color: #333;
	box-shadow: inset 2px 0 12px 0px rgba(0,0,0,.9);
}

#cd-lateral-nav .cd-navigation .sub-menu a {
	padding: 0 16px;
	text-transform: none;
}

#cd-lateral-nav .cd-navigation .sub-menu .sub-menu {
	background-color: #3a3a3a;
	box-shadow: none;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
	position: relative;
	text-transform: uppercase;

	/* this is the right arrow to show that the item has a submenu  */
	&::after {
		width: 25px;
		content: "+";
		float: right;
		font-size: 20px;
		color: #fff;
		text-indent: 0;
		text-align: center;
	}
	&.submenu-open {
		& a {
			border-bottom: 0;
		}
	}
	&.submenu-open::after {
		content: "-";
	}
}


/* -----------------------------------------------------------------
Search
----------------------------------------------------------------- */
.mobilenav-form {
	margin: 2em 0;
	padding: 0 20px;
}
.form {
	margin: 0;
	& input {
		border: none;
		font-size: 13px;
		height: 30px;
		padding: 4px 10px;
		line-height: 30px;
		background-color: #fff;
		outline: none;
		color: #333;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 0;
	}
}
.mobilenav-form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.mobilenav-form .search {
	position: relative;
}
.mobilenav-form .search:before {
	content: "\e600";
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	position: absolute;
	left: 9px;
	top: 8px;
	color: #666;
	font-size: 19px;
	z-index: 1;
}
.mobilenav-form .quicksearch-input {
	background: #fff;
	box-shadow: none;
	border: none;
	color: #333;
	display: inline-block;
	font-size: 13px;
	height: auto;
	line-height: normal;
	padding: 10px 10px 10px 40px;
	position: relative;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-transition: width 0.2s ease, background-color 0.2s ease;
	-moz-transition: width 0.2s ease, background-color 0.2s ease;
	transition: width 0.2s ease, background-color 0.2s ease;
}
.mobilenav-form .icon-search {
	 border: 0;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 margin: -1px;
	 overflow: hidden;
	 padding: 0;
	 position: absolute;
	 width: 1px;
}

/* -----------------------------------------------------------------
Address
----------------------------------------------------------------- */
#cd-lateral-nav .address {
	color: #fff;
	font-size: 13px;
	margin: 20px;
	h3 {
		color: #fff;
		font-weight: normal;
	}
	hr {
		border-top-color: #666;
		border-bottom-color: #222;
	}
	a {
		color: #fff;
		display: block;
		padding: 5px 0;
		text-decoration: underline;
	}
}
