
.item-wrapper {
	margin: 1em 0;
}
#itemPhoto {
	@media (min-width: $break-medium) {
		float: left;
		width: 55%;
	}
}
#itemInfo {
	@media (min-width: $break-medium) {
		float: right;
		width: 42%;
	}
}
/* -----------------------------------------------------------------
Photos
----------------------------------------------------------------- */
#photoThumb a {
	display: block;
	& img {
		display: block;
	}
}
#photoThumb.flickity-enabled {
	padding-bottom: 2em;
}
#photoThumb img {
	display: block;
	margin: 0 auto;
}
#attrCaption {
	text-align: center;
}
#attrFrame {
	margin-top: 1em;
}
#attrList {
	text-align: center;
	& a {
		display: inline-block;
	}
}
#photoThumb .gallery-cell {
  width: 100%; /* full width */
}
#photoThumb .flickity-prev-next-button {
	// display: none;
	@media (min-width: $break-small) {
		display: block;
	}
}

#itemInfo {
	@media (min-width: $break-large) {
		padding-right: 1em;
	}
}

.caption {
	font-size: 13px;
	margin: 10px;
	padding: 0;
	text-align: center;
}
#photoThumb .flickity-page-dots {
  bottom: 0px;
}

/* -----------------------------------------------------------------
Title
----------------------------------------------------------------- */
#itemTitle {
	font-size: 24px;
	line-height: 1.3;
	margin: .5em 0 .25em 0;
	text-align: center;
	@media (min-width: 640px) {
		line-height: 1.4;

	}
	@media (min-width: $break-medium) {
		text-align: left;
	}
	@media (min-width: $break-large) {
		font-size: 33px;
	}
}




/* -----------------------------------------------------------------
Price
----------------------------------------------------------------- */
#itemOptions {
	@media (min-width: $break-medium) {
		// background-color: #fafafa;
		// padding: 1em;
		// border-radius: 10px;
		// border: 6px solid #e5e5e1;
	}
}
#itemPrice, #menuPrice {
	font-size: 26px;
	text-align: center;
	margin-bottom: .5em;
	letter-spacing: 1px;
	@media (min-width: $break-medium) {
		margin-bottom: 10px;
		text-align: left;
	}
}
#itemDetails {
	text-align: center;
	@media (min-width: $break-medium) {
		text-align: left;
	}
	& .itemSale {
		color: #ed1c24;
	}
}
/* -----------------------------------------------------------------
Size Options
----------------------------------------------------------------- */
.options {
	list-style: none;
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.6;
}
.options li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	padding: 0;
	background-color: #ffffff;
	margin: 0px 0 4px 0;
	cursor: pointer;
	border: #e1e1e1 1px solid !important;
	position: relative;
	text-transform: uppercase;
	font-size: 13px;
	color: #333333;
	font-family: helvetica, arial, sans-serif;
	width: 15.7%;
}
.options li:hover, .options li:focus {
	background-color: #e4e4e4;
}
.options li.selected {
	border: #fff 1px solid !important;
	background-color: #666666;
	color: white;
}
.options li span {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}
#orderOptions .dropdown {
	float: left;
	width: 29%;
}


/* Select */
.form-control, #attrSelector .itemMenu, .qtyMenu {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #666;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
	border-radius: 3px;
	height: 40px;
	margin-bottom: 8px;
	padding-left: 24px;
	padding-right: 24px;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
	padding-right: 12px;
	padding-top: 9px;
	padding-bottom: 9px;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
	-webkit-appearance: none;
	background-image: url(../images/select-down2.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding-right: 45px;
}
.form-control:hover, #attrSelector .itemMenu:hover, .qtyMenu {
	cursor: pointer;
}

/* -----------------------------------------------------------------
Add to Cart button
----------------------------------------------------------------- */
.addtocart-btn {
	background: lighten(#fdd212,10%);
	box-shadow: inset 0 1px rgba(255,255,255,.5);
	position: relative;
	border-radius: 3px;
	border: 1px solid #666;
	color: #333;
	font-family: $heading-font;
	outline:none;
	padding: 6px 30px;
	margin: 0;
	font-size: 18px;
	float: right;
   width: 69%;
   height: 39px;
   text-transform: uppercase;
   &:hover, &:focus {
   	background: #fdd212;
   }
   &:active {
   	background: darken(#fdd212,4%);
   }
}
.addtocart-btn .icon-shopping-cart {
	position: absolute;
	top: 3px;
	left: 3px;
	display: inline-block;
	vertical-align: top;
	/* height: 25px; */
	z-index: 19;
	background-color: #000;
	color: #fff;
	padding: 6px 7px;
	border-radius: 3px;
	width: 31px;
	height: 31px;
}
#cartAdd {
	position: absolute;
	z-index: 20;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: transparent;
	outline: 0;
	border: 0;
	overflow: visible;
	cursor: pointer;
	// opacity: .01;
}

/* inactive button */
#cartAdd.inactive {
	cursor: default;
}
.itemMenu, .qtyMenu {
	font-size: 16px;
	font-weight: normal;
}
.qtyMenu {
	margin-bottom: 0;
}
#qtyCartItem {
	clear: both;
	margin-top: 10px;
	text-align: left;
}

/* Suggested Items */
.suggested-wrapper .gallery-cell {
	float: left;
	width: 25%;
}
.owl-carousel .gallery-cell {
	width: 100%;
}

/* -----------------------------------------------------------------
Description
----------------------------------------------------------------- */
#itemDesc {
	margin: 2em 0;
	text-align: left;
	@media (min-width: $break-medium) {
		text-align: left;
	}
}
#itemText {
	margin-bottom: 1em;
}
#itemDesc .description {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
	margin: 1em 0;
	text-transform: uppercase;
	@media (min-width: 640px) {
		font-size: 17px;
		margin: .5em 0;
		text-align: left;
	}
}
/* Description */
#itemDesc .description:before {
	@media (max-width: 640px - 1) {
		content: "";
		display: block;
		border-top: solid 1px #999;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		z-index: 1;
	}
}

#itemDesc .description span {
	@media (max-width: 640px - 1) {
		background: #fff;
		padding: 0 20px;
		position: relative;
		z-index: 5;
	}
}

.item-meta {
	color: #666;
	margin: 0;
	border-top: 1px solid #eee;
	padding: 10px 0;
	& strong {
		color: #444;
	}
}
#itemNumber:before {
	color: #333;
	content: 'Item Number: ';
	font-weight: bold;
}

/* -----------------------------------------------------------------
Social Media
----------------------------------------------------------------- */
.item-social {
	& a {
		display: inline-block;
		margin: 0 5px;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	& .item-share {
		color: #333;
		font-weight: bold;
	}
	& .icon {
		font-size: 18px;
		vertical-align: text-bottom;
	}
	.icon-facebook-square {color: #3c589d;text-indent: -999em;}
	.icon-twitter-square {color: #48aaf2;}
	.icon-pinterest-square {color: #c6271f;}
}

/* -----------------------------------------------------------------
Why Shop the Hawk Shop?
----------------------------------------------------------------- */
.why-shop {
	margin-bottom: 1em;
	@media (min-width: $break-medium) {
		xbackground: #ebebeb url(../images/herky-bg.jpg) no-repeat center top;
		background-color: #ebebeb;
		margin: 1em;
	}
}
.cell-1 {
	background-color: #525252;
	color: #fff;
	padding: 25px;
	@media (min-width: $break-medium) {
		background-color: transparent;
		color: #000;
		float: left;
		width: 300px;
		margin-right: 140px;
		padding-right: 0;
	}
}
.cell-1 h3 {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	@media (min-width: $break-medium) {
		color: #333;
		font-size: 32px;
	}
}
.cell-1 .bar {
	display: block;
	margin: 12px 0 14px 0;
	width: 100px;
	background-color: #fff;
	height: 7px;
	@media (min-width: $break-medium) {
		background-color: #000;
	}
}
.cell-1 p {
	font-size: 15px;
	line-height: 1.3;
}


.cell-3 {
	background: #ebebeb;
	padding: 25px;
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	@media (min-width: $break-medium) {
		background: transparent;
		float: right;
		width: 330px;
		padding-left: 0;
	}
}
.cell-3 ul li {
	padding-left: 52px;
	margin-right: 15px;
	margin-bottom: 1em;
	font-family: arial;
	font-size: 12px;
	& strong {
		font-size: 18px;
		line-height: 18px;
		padding-bottom: 2px;
		display: block;
		font-weight: normal;
	}
}
.cell-3 li:nth-child(1) {
	background: url(../images/benefit_1.png) no-repeat left top;
}
.cell-3 li:nth-child(2) {
	background: url(../images/benefit_2.png) no-repeat left top;
}
.cell-3 li:nth-child(3) {
	background: url(../images/benefit_3.png) no-repeat left top;
}
.cell-3 li:nth-child(4) {
	background: url(../images/benefit_4.png) no-repeat left top;
	margin-bottom: 0;
}

/* -----------------------------------------------------------------
Added to Cart Page
----------------------------------------------------------------- */
.cartAddPage {
	background-color: #fff;
	position: relative;
	max-width: $break-xxlarge;
	padding: 1em;
	@media (min-width: $break-medium) {
		min-height: 600px;
	}
	@media (min-width: $break-xxlarge) {
		margin: 1em auto;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
	}
	@media (min-width: $break-xlarge) {
		padding: 2em;
	}
	& span.titlefont {
		font-family: $heading-font;
		font-size: 20px;
	}
	& .rbutton {
		box-shadow: 2px 2px 2px #ccc;
		border-radius: 3px;
		background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
		border: solid 1px #000;
		margin: 5px 10px 5px 0px;
		cursor: pointer;
		display: block;
		float: left;
		font-size: 14px;
		font-weight: bold;
		padding: 10px 15px;
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& .rsecondary {
		color: #666;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bbb));
		border-color: #999
	}
	& .cartAdd {
		background: #f5f5f5;
		border: 1px solid #ddd;
		border-radius: 3px;
		padding: 1em;
		margin: 1em 0;
	}
	& .textsmall {
		display: none;
	}
}


