.item-wrapper {
	margin: 30px 0;
}
#itemPhoto {
	@media (min-width: 640px) {
		float: left;
		width: 55%;
	}
}
#itemInfo {
	@media (min-width: 640px) {
		float: right;
		width: 42%;
	}
}
/* -----------------------------------------------------------------
Photos
----------------------------------------------------------------- */
#photoThumb a {
	display: block;
	& img {
		display: block;
	}
}
.product-items .gallery-cell {
  width: 100%; /* full width */
  xheight: 350px; /* height of gallery */
  margin-right: 10px;
}
.product-items img {
	display: block;
	margin: 0 auto;
}
#attrCaption {
	text-align: center;
}
#attrList {
	text-align: center;
	& a {
		display: inline-block;
	}
}

/* -----------------------------------------------------------------
Title
----------------------------------------------------------------- */
#itemTitle {
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	xtext-transform: uppercase;
	@media (min-width: 640px) {
		font-size: 30px;
		line-height: 1.3;
		margin: 0 0 .25em 0;
		text-align: left;
	}
}


/* -----------------------------------------------------------------
Description
----------------------------------------------------------------- */
#itemDesc {
	margin: 2em 0;
	text-align: left;
	@media (min-width: $break-medium) {
		text-align: left;
	}
}
#itemText {
	margin-bottom: 1em;
}
#itemDesc .description {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	position: relative;
	margin: 1em 0;
	text-transform: uppercase;
	@media (min-width: 640px) {
		font-size: 15px;
		margin: .5em 0;
		text-align: left;
	}
}
/* Description */
#itemDesc .description:before {
	@media (max-width: 640px - 1) {
		content: "";
		display: block;
		border-top: solid 1px #999;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 50%;
		z-index: 1;
	}
}

#itemDesc .description span {
	@media (max-width: 640px - 1) {
		background: #fff;
		padding: 0 20px;
		position: relative;
		z-index: 5;
	}
}

.item-meta {
	color: #666;
	font-size: 14px;
	margin: 0;
	border-top: 1px solid #eee;
	padding: 12px 0;
	& strong {
		color: #444;
	}
}
.item-meta:last-of-type {
	border-bottom: 1px solid #eee;
}
#itemNumber:before {
	content: 'Item Number: ';
	font-weight: bold;
}

/* -----------------------------------------------------------------
Price
----------------------------------------------------------------- */
#itemPrice, #menuPrice {
	font-size: 26px;
	text-align: center;
	margin-bottom: .5em;
	letter-spacing: 1px;
	@media (min-width: $break-medium) {
		font-size: 30px;
		margin-bottom: 10px;
		text-align: left;
	}
}
#itemDetails {
	text-align: center;
	@media (min-width: 640px) {
		text-align: left;
	}
}
/* -----------------------------------------------------------------
Size Options
----------------------------------------------------------------- */
.options {
	list-style: none;
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.6;
}
.options li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  padding: 0;
  background-color: #ffffff;
  margin: 0px 0 4px 0;
  cursor: pointer;
  border: #e1e1e1 1px solid !important;
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  width: 15.7%;
}
.options li:hover, .options li:focus {
  background-color: #e4e4e4;
}
.options li.selected {
  border: #fff 1px solid !important;
  background-color: #666666;
  color: white;
}
.options li span {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}
#orderOptions .dropdown {
	float: left;
	width: 29%;
}


/* Select */
.form-control, #attrSelector .itemMenu, .qtyMenu {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #666;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
  border-radius: 3px;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
  padding-right: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.form-control, #attrSelector .itemMenu, .qtyMenu {
  -webkit-appearance: none;
  background-image: url(../images/select-down2.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 45px;
}
.form-control:hover, #attrSelector .itemMenu:hover, .qtyMenu {
	cursor: pointer;
}

/* -----------------------------------------------------------------
Add to Cart button
----------------------------------------------------------------- */
#cartAdd {
	background: $yellow;
	border-radius: 0;
	border: 1px solid #666;
	color: #333;
	font-family: $heading-font;
	outline:none;
	padding: 7px 30px;
	position: relative;
	margin: 0;
	font-size: 18px;
	float: right;
   width: 69%;
   text-transform: uppercase;
}
#cartAdd:hover, #cartAdd:focus {
	background: lighten($yellow, 10%);
}
#cartAdd:active {
	background: $yellow;
}
/* inactive button */
#cartAdd.inactive {
	background: #666;
	color: #fff;
	cursor: default;
	opacity: .8;
}
#cartAdd.inactive:hover, #cartAdd.inactive:focus {
	background: #666;
}
#cartAdd.inactive:active {
	background: #666;
}

.itemMenu, .qtyMenu {
	font-size: 16px;
	font-weight: normal;
}
#qtyCartItem {
	clear: both;
	margin-top: 10px;
	text-align: left;
}

/* Suggested Items */
.suggested-wrapper .gallery-cell {
	float: left;
	width: 25%;
}
.owl-carousel .gallery-cell {
	width: 100%;
}
.suggested-wrapper .owl-item {

}
