/* -----------------------------------------------------------------
Base Styles
----------------------------------------------------------------- */
html, body {
	height: 100%;
}
html {
	font-size: 16px;
	line-height: 1.6;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}
body {
	background: #fff;
	color: #333;
	font-family: $body-font;
	font-size: 16px;
	margin: 0;
	padding: 0;
	@media (min-width: $break-xlarge) {
		background: #f5f5f5;
	}
}


/* -----------------------------------------------------------------
Layout
----------------------------------------------------------------- */
.container {
	position: relative;
	max-width: $break-xxlarge;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1em;
	padding-right: 1em;
	@media (min-width: $break-xlarge) {
		padding-left: 3em;
		padding-right: 3em;
	}
}
#main-content {
	background-color: #fff;
	min-height: 100%;
	position: relative;
	z-index: 2;
	padding-top: $header-S;
	@media (min-width: $break-small) {
		padding-top: $header-M;
	}
	@media only screen and (min-width: $break-medium) {
		padding-top: 0;
	}
	@media (min-width: $break-large) {
		background-color: #f5f5f5;
	}
}
.column-left {
	float: left;
	width: 22%;
}
.column-main {
	background-color: #fff;
	position: relative;
	min-height: 600px;
	@media (min-width: $break-large) {
		margin: 1em 0;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
	}
}
.xlarge {
	@media (min-width: $break-xlarge) {
		padding: 1em;
	}
}
.page {
	margin-top: 1em;
}

.content-padding {
	background-color: #fff;
	@media (min-width: $break-large) {
		margin: 0 2em 2em 2em;

	}
}

/* Thumbnail */
// .thumbnail {
// 	display: block;
// 	padding: 4px;
// 	margin-bottom: 20px;

// 	border: 1px solid #ddd;
// 	border-radius: 2px;
// 	background: rgb(244,244,244);
// background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 50%);
// background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%);
// background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 50%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );

// }
// .thumbnail a>img, .thumbnail>img {
// 	display: block;
// 	margin-right: auto;
// 	margin-left: auto;
// }
// .thumbnail .caption {
// 	padding: 9px;
// 	color: #333;
// }

/* Media */
.media-object {
	 margin: 2em 0;
	 display: block;
}
.media-object-section {
	 display: table-cell;
	 vertical-align: top;
}
.media-object-section:first-child {
	 padding-right: 2em;
}
.media-object img {
	 max-width: none;
}
.media-heading {
	margin-top: 0;
}



/* -----------------------------------------------------------------
Skip to content
----------------------------------------------------------------- */
#skiplink {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	transition: .25s;
}
#skiplink:active, #skiplink:focus {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
	clip: auto;
	height: auto;
	left: 10px;
	margin: 0;
	outline: 0;
	outline-offset: -2px;
	overflow: visible;
	padding: 10px;
	top: 10px;
	width: auto;
	z-index: 2000;
}
#main-content {
	outline: 0;
}

/* -----------------------------------------------------------------
Promotional Banners
----------------------------------------------------------------- */
.promo-img {
	& img {
		display: block;
		margin: 0 auto;
	}
}

/* -----------------------------------------------------------------
Tech by Major
----------------------------------------------------------------- */
$accordion-color: #fdd212;

.accordion dl,
.accordion-list {
	border:1px solid #ddd;
	&:after {
		content: "";
		display:block;
		height:1em;
		width:100%;
		background-color:darken($accordion-color, 10%);
	}
}
.accordion dd,
.accordion__panel {
	background-color:#f4f4f4;
	font-size:1em;
	line-height:1.5em;
}
.accordion {
	position:relative;
	background-color:#f4f4f4;
}
.accordionTitle,
.accordion__Heading {
	background-color:$accordion-color;
	text-align:center;
	font-weight:700;
	padding:2em;
	display:block;
	text-decoration:none;
	color:#333;
	transition:background-color 0.5s ease-in-out;
	border-bottom:1px solid darken($accordion-color, 15%);
	&:before {
		content: "+";
		font-size:1.5em;
		line-height:0.5em;
		float:left;
		transition: transform 0.3s ease-in-out;
	}
	&:hover {
		background-color:darken($accordion-color, 10%);
	}
}
.accordionTitleActive,
.accordionTitle.is-expanded {
	background-color:darken($accordion-color, 10%);
	 &:before {
		transform:rotate(-225deg);
	 }
}
.accordionItem {
	margin: 0;
	height:auto;
	overflow:hidden;
	//SHAME: magic number to allow the accordion to animate
	max-height:50em;
	transition:max-height 1s;
	@media screen and (min-width:48em) {
		transition:max-height 0.5s
	}
}
.accordion-content-inner {
	padding: 2em 1em;
}

.accordionItem.is-collapsed { max-height:0;}
.no-js .accordionItem.is-collapsed {max-height: auto;}
.animateIn {animation: accordionIn 0.45s normal ease-in-out both 1;}
.animateOut {animation: accordionOut 0.45s alternate ease-in-out both 1;}
@keyframes accordionIn {
	0% {
		opacity: 0;
		transform:scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}
	100% {
		opacity:1;
		transform:scale(1);
	}
}

@keyframes accordionOut {
	0% {
		opacity: 1;
		transform:scale(1);
	}
	100% {
		opacity:0;
		transform:scale(0.9) rotateX(-60deg);
	 }
}
.accordion .table {
	background-color: #fff;
}
.accordion-product {
	padding: 5px;
	text-align: center;
	& .accordion-img {
		display: block;
		margin-bottom: 20px;
	}
	& .accordion-title {
		font-family: $body-font;
		font-size: 14px;
		font-weight: normal;
	}
	& .accordion-price {
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}
}
