/* -----------------------------------------------------------------
Sub-Catalog Slider
----------------------------------------------------------------- */
.sub-cats {
	border-bottom: 1px solid #e9e9ea;
	list-style: none;
	margin: 0;
	white-space: nowrap;
	xoverflow-x: scroll;
	xoverflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	@media (min-width: $break-medium ) {
		display: none;
	}
	& ul {
		display: inline-block;
		margin: 0;
		list-style: none;
	}
}
.sub-cats >li, .onbranchli .onbranch {
	float: left;
	& a {
		color: #333;
		display: block;
		font-size: 13px;
		padding: 10px 20px;
		position: relative;
		&:hover {
			// background-color: #eee;

		}
	}
}

/* Divider */
.onbranchli .onbranch, .sub-cats .sub-home a {
	&:after {
		content: '/';
		position: relative;
		right: -20px;
		// content: '';
		@media (min-width: $break-xlarge) {
			// border-right: 1px solid #ddd;
			// height: 100%;
			// position: absolute;
			// top: 0;
			// right: 0;
		}
	}
}
.sub-cats .sub-home a {
	display: inline-block;
}
.sub-cats .onleafli {
	text-decoration: underline;
}
.level2 .branchli .subnav-level2 {
    display: none;
}
.level3 > .leafli, .level3 > .branchli {
	display: none;
}
.level4 .onbranchli .subnav-level2 > .leafli,
.level4 .onbranchli .subnav-level2 > .branchli {
	display: none;
}

/* Active page */
.sub-cats .onleafli .onleaf {
	font-weight: bold;
}

/* Dropdown Menu */
.sub-cats .dropdown-menu {
	display: none !important;
}
.sub-cats .open .dropdown-menu {
	display: block !important;
}
.sub-cats .dropdown-menu>li {
	display: block;
}









