.cat-450 .catalogcontent-heading {
	display: none;
}


.textStart, #courseFrame {
	@media (min-width: $break-xlarge) {
		padding: 0 2em 2em 2em;
	}
}
#courseFrame {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}
.courseDisplay, #courseSelector, #courseSelections, .bookOrder {
	box-shadow: none;
}
#courseSelector, #courseSelections {
	@media (max-width: $break-small - 1) {
		width: 100%;
		margin-right: 0;
	}
}
#courseData a {
	color: $link;
}
#sectionArea li.justsection a:after {
	content: 'add';
	font-weight: normal;
	float: right;
	padding-right: 5px;
}
#textList {
	margin: 1em auto 1em auto;
	max-width: $break-large;
}
#textList h1 {
	margin-left: 20px;
	color: #fff;
	margin: 10px 0 10px 20px;
	font-size: 21px;
}
#textList h1, #textList h2, #textList h3, #textList h4, #textList h5 {
	font-family: $body-font;
}
#courseList h2 {font-size:14px;font-weight: bold;}
#courseList h3 {font-size: 12px;font-weight: bold;}
.bookInfo, .bookOrder {
	@media (max-width: $break-small - 1) {
		margin: 4%;
		float: none;
		width: 92%;
	}
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}