/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #06e;
/*$yellow: #ffce39;*/
$yellow: #fdd212;

$red: #ff0000;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 15;
$base-font-size: 15px;


/*--------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Roboto Slab', serif;
$body-font: "Helvetica Neue",Helvetica,Arial,sans-serif;

/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 769px;
$break-large: 980px;
$break-xlarge: 1140px;
$break-xxlarge: 1200px;