/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #06e;
$yellow: #ffce39;
$red: #ff0000;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 15;
$base-font-size: 15px;


/*--------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;

/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 481px;
$break-medium: 769px;
$break-large: 980px;
$break-xlarge: 1140px;
$break-xxlarge: 1200px;