@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vikd0z');
    src:    url('../fonts/icomoon.eot?vikd0z#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vikd0z') format('truetype'),
        url('../fonts/icomoon.woff?vikd0z') format('woff'),
        url('../fonts/icomoon.svg?vikd0z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-square:before {
    content: "\e900";
}
.icon-twitter-square:before {
    content: "\e901";
}
.icon-pinterest-square:before {
    content: "\e902";
}
.icon-chevron-right:before {
    content: "\e903";
}
.icon-shopping-cart:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}