.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-chevron-right {
	width: 0.6787109375em;
}

.icon-chevron-left {
	width: 0.75em;
}

.icon-chevron-right2 {
	width: 0.6787109375em;
}

.icon-shopping-cart {
	width: 0.9287109375em;
}

.icon-search {
	width: 0.9287109375em;
}